.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# data/workspace.RData
analyses_cache/
analyses_additional_cache/
archive/
manuscript/archive
manuscript_cache/
manuscript.tex
manuscript.log
manuscript_with-deletions.RmD
data/workspace_full.RData
title_page.rmd
title_page.pdf